/80s_90s
/ads
/alternative
/baddream.wav
/christmas
/country
/dontcount.wav
/efficientdet_lite0.tflite
/efficientdet_lite0_edgetpu.tflite
/fixit.wav
/hole_in_my_heart.wav
/madeit.wav
/mean_no_chroma_rms.csv
/requirements.txt
/setup.sh
/stations.csv
/stations.txt
/std_no_chroma_rms.csv
/talk
/test_song2.wav
/top_hits